<html>
  <head></head>
  <body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
      App.cable = ActionCable.createConsumer("//<%= request.host_with_port %>/cable");
      //App.cable = ActionCable.createConsumer("ws://localhost:3000/websocket");
      App.data = App.cable.subscriptions.create({ channel: "ResourceChannel" }, {
        received: function(data) {
          var json = JSON.parse(data)
          var process_id = json['process_id']
          var cpu_percentage = json['cpu_percentage']
          var ram_percentage = json['ram_percentage']
          var ram_usage = json['ram_usage']
          var last_executed_controller = json['last_executed_controller']
          var last_executed_action = json['last_executed_action']


          var execution_details_td = jQuery('<td/>', {
            text: ""
          });

          var controller_details =  jQuery('<p>',{
            text: "Controller: " +last_executed_controller
          })

          var action_details = jQuery('<p>',{
            text: "Action: "  + last_executed_action
          })

          var ram_usage_td = jQuery('<td/>', {
            text: ram_usage + " MB"
          });

          var ram_percentage_td= jQuery('<td/>', {
            text: ram_percentage + "%"
          });

          var cpu_percentage_td= jQuery('<td/>', {
            text: cpu_percentage + "%"
          });

          var process_id_td = jQuery('<td/>', {
            text: process_id
          });

          var main_tr =  $('<tr></tr>')
          var table_body = $("#table_body")
          process_id_td.appendTo(main_tr)
          cpu_percentage_td.appendTo(main_tr)
          ram_percentage_td.appendTo(main_tr)
          ram_usage_td.appendTo(main_tr)
          controller_details.appendTo(execution_details_td)
          action_details.appendTo(execution_details_td)
          execution_details_td.appendTo(main_tr)
          main_tr.prependTo(table_body)
        }
      });
    </script>
    <div id="holder" class="container">
      <h2>ResourceMonitorDashboard</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Process ID</th>
            <th>CPU Percentage</th>
            <th>RAM Percentage</th>
            <th>RAM Usage (MB)</th>
            <th>Execution Details</th>
          </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
      </table>
    </div>
  </body>
</html>
